@model OC_P5.ViewModels.CarViewModel

@{
    ViewData["Title"] = "Détails de la voiture";
}

<div class="container my-5">
    <!-- Bouton Retour -->
    <div class="mb-3">
        <a asp-action="Index" class="text-muted"><i class="bi bi-arrow-left"></i> Retour</a>
    </div>

    <!-- Détails de la voiture -->
    <div class="row">
        <!-- Image de la voiture -->
        <div class="col-md-6">
            <img src="@ViewData["MediaPath"]" alt="@ViewData["MediaLabel"]" class="img-fluid rounded" />
        </div>

        <!-- Informations de la voiture -->
        <div class="col-md-6">
            <h3 class="mb-4">Prix de vente</h3>

            <dl class="row">
                <dt class="col-sm-3 text-muted">Année</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.YearOfProduction)</dd>

                <dt class="col-sm-3 text-muted">Marque</dt>
                <dd class="col-sm-9">@ViewData["CarBrand"]</dd>

                <dt class="col-sm-3 text-muted">Modèle</dt>
                <dd class="col-sm-9">@ViewData["CarModel"]</dd>

                <dt class="col-sm-3 text-muted">Finition</dt>
                <dd class="col-sm-9">@ViewData["CarTrim"]</dd>

                <dt class="col-sm-3 text-muted">Prix d'achat :</dt>
                <dd class="col-sm-9">@ViewData["PurchasePrice"]</dd>

                <dt class="col-sm-3 text-muted">Date d'achat :</dt>
                <dd class="col-sm-9">@ViewData["PurchaseDate"]</dd>

                @if (ViewData["RepairDate"] != null || ViewData["RepairCost"] != null)
                {
                    <dt class="col-sm-3 text-muted">Date de la réparation :</dt>
                    <dd class="col-sm-9">@ViewData["RepairDate"]</dd>

                    <dt class="col-sm-3 text-muted">Description de la réparation :</dt>
                    <dd class="col-sm-9">@ViewData["RepairDescription"]</dd>

                    <dt class="col-sm-3 text-muted">Prix de la réparation :</dt>
                    <dd class="col-sm-9">@ViewData["RepairPrice"]</dd>
                }

            </dl>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
